<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>

  <body>
    <h2>Hello <%= pro %></h2>

    <table>
      <form method="post" action="/logout">
        <tr>
          <td>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
              Logout
            </button>
          </td>
        </tr>
      </form>
    </table>
    <table>
      <form method="post" action="/add">
        
        <tr>        
        <td><label for="addTodo">Todo</label></td>
                 
        <td>
                     
          <input
            type="text"
            id="addTodo"
            name="todoText"
            placeholder="add your todo"
            autofocus
          />
                   
        </td>
        <td>
          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Add
          </button>
        </td>
               
      </tr>
      </form>
    </table>
</br>
</br>
</br>
    <table>
        <form method="post" action="/abcd">
            <tr>
                Todo list
            </tr>
          <tr>
              <!-- <td><label for="todoList"></label></td> -->
          </tr>
          <table>
              <% for(var i=0; i <todoList.length ; i++) { %>
                
                                <!-- li -->
                <tr>
                <td>
                  <%= todoList[i].item %>
                </td>
                <td>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                      Edit
                    </button>
                </td>
                <td>
                  <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Done
                  </button>
                </td>
                <td>
                      <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Delete
                      </button>
                </td>
               
            </tr>
                <%} %>
          </table>
            
            
          </tr>
        </form>
        </table>
  </body>
</html>
